@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&family=Noto+Sans+Thai:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
}

html,
body {
    position: relative;
    height: 100%;
}

.navbar-dark .navbar-brand {
    font-size: 2rem;
    font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link {
    padding: 0px 20px 0px 20px;
}

@media screen and (max-width: 876px) {
    .navbar-dark .navbar-nav .nav-link {
        padding: 10px 0px 10px 0px;
    }
}

.content-col-4{
    float: left;
    width: 33.33%;
    padding: 8rem 5rem 8rem 5rem;
    background-color: #f5f5f5;
    text-align: center;
}

.content-row::after{
    content: "";
    display: table;
    clear: both;
}

.tbg-white{
    background-color: #fff;
}

.text-design{
    font-weight: bold;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
    /* color: orangered; */
}

.section-02 .text-design{
    color: orangered;
}

.viewmore{
    text-decoration: none;
    color: orangered;
    font-weight: bold;
    margin-top: 2rem;
}

.viewmore:hover{
    color: #292523;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Button Style 01 */
.btn.style-01{
    background-color: #ff681a;
    color: #fff;
    padding: .875rem 2.875rem; /*14px 46px*/
    border-radius: 0;
    transition:background .5s;
    margin-top: 2.5rem;
}

.btn.style-01:hover{
    background-color: #212529;
}

.photo {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.photo img {
    transition: transform 0.95s;
}
  
.photo:hover img {
    transform: scale(1.1);
}

.section-card{
    padding: 2rem;
    background-color: #fbede3;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.h-card{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ff681a;
    margin-top: .5rem;
}

.h-card:hover{
    color: #292523;
}

.section-icon{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.section-icon > a{
    font-size: 3rem;
    color: #fff;
    background-color:  #ff681a;
    width: 150px;
    border-radius: 50%;
    height: 150px;
    padding-top: 2rem;
    border: 6px solid #fbede3;
}

.section-icon > a:hover{
    color: #ff681a;
    border: 6px solid #ff681a;
    background-color:  #fbede3;
}


.section-card > p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.section-04-image{
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.section-04-des{
    position: absolute;
    top: 65%;
    left: 30%;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  /* text-align: center; */
}

.section-04-column:hover .section-04-image{
    opacity: 0.25;
}

.section-04-column:hover .section-04-des{
    opacity: 1;
}

.section-04-text >a{
    font-size: 2rem;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.section-04-text >a:hover{
    color: #ff681a;
}

.section-04-text >p{
    font-size: 1.5rem;
    color: #000;
}

.section-04-icon{
    font-size: 1.5rem;
}

.section-04-icon >a{
    padding-right: .5rem;
    color: #000;
}

.section-04-icon >a:hover{
    color: #ff681a;
}

.section-05-des{
    text-align: center;
    padding: 5rem;
}

.section-05-des >h1{
    font-size: 4rem;
    color: #f5f5f5;
    font-weight: bold;
}

.section-05-des >p{
    font-size: 1rem;
    color: #f5f5f5;
    font-weight: bold;
}

.modal{
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 12.5rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

.modal-content{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 43.75rem;
}

/* .modal > img{
    width: 100%;
    height: auto;
} */

#caption{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 43.75rem;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 9.375rem;
}

.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.section-06-des{
    position: absolute;
    color: #f5f5f5;
    font-weight: bold;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.section-06-des >h1{
    font-size: 3rem;
    font-family: 'Zen Dots', cursive;
    white-space: nowrap;
}

.section-06-des >p{
    font-size: 2.5rem;
    font-family: 'Lobster', cursive;
    white-space: nowrap;
}

.photo-section-06{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.918);
}

.photo-section-06 img {
    transition: transform 0.9s;
}

.photo-section-06 img:hover{
    transform: scale(1.1);
    opacity: 0.33;
}


@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 0.9375rem;
    right: 2.1875rem;
    color: #f1f1f1;
    font-size: 2.5rem;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.section-07-column .social > a .fa-facebook{
    color: #385898;
}

.section-07-column .social > a .fa-tiktok{
    color: #000;
}

.section-07-column .social > a .fa-phone-volume{
    color: #97103d;
}

.section-07-column .social > a .fa-line{
    color: #2cbf13;
}

.section-07-column .social > a .fa-facebook:hover{
    color: #fff;
}

.section-07-column .social > a .fa-tiktok:hover{
    color: #fff;
}

.section-07-column .social > a .fa-phone-volume:hover{
    color: #fff;
}

.section-07-column .social > a .fa-line:hover{
    color: #fff;
}

.section-footer .footer-text{
    width: 100%;
    background-color: #000000;
    color: #fff;
    text-align: center;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    padding: 1rem;
}

.section-footer .footer-text >p{
    margin-bottom: 0;
}


@media screen and (max-width: 1400.98px){
    .section-06-des >h1{
        font-size: 2.5rem;
    }
    
    .section-06-des >p{
        font-size: 2rem;
    }
}

@media screen and (max-width: 996px) {
    .content-col-4 {
        width: 100%;
    }

    .section-04-text >a{
        font-size: 1.5rem;
    }

    .section-04-text >p{
        font-size: 1.2rem;
    }

    .section-04-icon{
        font-size: 1.2rem;
    }

    .section-06-des >h1{
        font-size: 2rem;
    }
    
    .section-06-des >p{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 767.98px) {
    .btn.style-01{
        padding: .625rem 2.625rem; /*10px 42px*/
    }

    .modal-content {
        width: 100%;
    }

    /* .section-06-des >h1{
        font-size: 1.5rem;
    }
    
    .section-06-des >p{
        font-size: 1rem;
    } */
}

@media screen and (max-width: 575.98px) {
    .btn.style-01{
        padding: .4375rem 2.375rem; /*7px 38px*/
    }

    .section-04-text >a{
        font-size: 2rem;
    }

    .section-04-text >p{
        font-size: 1.5rem;
    }

    .section-04-icon{
        font-size: 1rem;
    }

    .section-04-des{
        top: 70%;
        left: 20%;
    }
}


    
